<html>
  <head>
    <title>Lifeclo.cc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
    <style>
      body {
        text-align: center;
      }
      
      input.dateinput {
        padding: 30px;
        font-size: 1.5em;
      }

      .seven-seg {
        height: 70px;
        width: 50px;
        margin: -5px;
      }

      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container" id="app" v-cloak>
      <template v-if="state === 'firsttime'">
        <div class="row">
          <div class="twelve columns">
            <h1>
              Welcome to LIFECLO.CC<template v-if="user">, {{ user }}</template>
            </h1>
            <p>Please enter your birthday (YYYY-MM-DD) to get started</p>
            <form>
              <input class="dateinput" type="number" min="1900" max="2020" maxlength="4" v-model="inputs.byear" v-on:focus="highlight" v-on:keyup="inputValidate" v-on:change="inputValidate" v-on:blur="dateValidate" />
              <input class="dateinput" type="number" min="1" max="12" maxlength="2" v-model="inputs.bmonth" v-on:focus="highlight" v-on:keyup="inputValidate" v-on:change="inputValidate" v-on:blur="dateValidate" />
              <input class="dateinput" type="number" min="1" max="31" maxlength="2" v-model="inputs.bdate" v-on:focus="highlight" v-on:keyup="inputValidate" v-on:change="inputValidate" v-on:blur="dateValidate" />
              <br/>
              <button v-on:click="setBirthday" type="submit">Set</button>
            </form>
            <hr/>
            <p>or</p>
            <form>
              <p>
                Load an existing user ID
              </p>
              <p>
                <input type="text" v-model="inputs.user"/> <button v-on:click="setUser" type="submit">Retrieve</button>
              </p>
            </form>
          </div>
        </div>
      </template>

      <template v-if="state === 'countdown'">
        <div class="row">
          <div class="twelve columns">
            <h3>Welcome back<template v-if="user">, {{ user }}</template></h3>
            <p>You have</p>
            <h1>{{ workings.count }}</h1>
            <p>seconds left to live</p>

            <div class="permalink" v-if="user === ''">
              <form>
                <p>
                  Get your very own permalink!
                </p>
                <p>
                  <input type="text" v-model="inputs.user"/> <button v-on:click="savePermalink" type="submit">Save</button>
                </p>
              </form>
              
            </div>
            
            <button v-on:click="clickBack">Go Back</button>
          </div>
        </div>
      </template>

      <img class="seven-seg" src="/assets/images/ss-1.svg"/>
      <img class="seven-seg" src="/assets/images/ss-2.svg"/>
      <img class="seven-seg" src="/assets/images/ss-3.svg"/>
      <img class="seven-seg" src="/assets/images/ss-4.svg"/>
      <img class="seven-seg" src="/assets/images/ss-5.svg"/>
      <img class="seven-seg" src="/assets/images/ss-6.svg"/>
      <img class="seven-seg" src="/assets/images/ss-7.svg"/>
      <img class="seven-seg" src="/assets/images/ss-8.svg"/>
      <img class="seven-seg" src="/assets/images/ss-9.svg"/>
      
    </div>
  </body>
</html>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="webapp.js"></script>
  