<html>
  <head>
    <title>Lifeclo.cc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
    <style>
      body {
        text-align: center;
      }
      #datepicker {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="container" id="app" v-cloak>
      <template v-if="state === 'firsttime'">
        <div class="row">
          <div class="twelve columns">
            <h1>
              Welcome to LIFECLO.CC<template v-if="user">, {{ user }}</template>
            </h1>
            <p>Please enter your birthday to get started</p>
            <div>
              <input type="text" v-model="inputs.birthday" />
            </div>
            <button v-on:click="setBirthday">Set</button>
            <hr/>
            <p>or</p>
            <p>
              Load an existing user ID
            </p>
            <p>
              <input type="text" v-model="inputs.user"/> <button v-on:click="setUser">Retrieve</button>
            </p>
          </div>
        </div>
      </template>

      <template v-if="state === 'countdown'">
        <div class="row">
          <div class="twelve columns">
            <h3>Welcome back<template v-if="user">, {{ user }}</template></h3>
            <p>You have</p>
            <h1>{{ workings.count }}</h1>
            <p>seconds left to live</p>

            <div class="permalink" v-if="user === ''">
              <p>
                Get your very own permalink!
              </p>
              <p>
                <input type="text" v-model="inputs.user"/> <button v-on:click="savePermalink">Save</button>
              </p>
            </div>
            
            <button v-on:click="clickBack">Go Back</button>
          </div>
        </div>
      </template>
      
    </div>
  </body>
</html>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="mtr-datepicker.js"></script>
<script src="webapp.js"></script>
  